DATABASE_URL="postgresql://user:password@localhost:5432/em_ecosystem?schema=public"
JWT_SECRET="your-jwt-secret-min-32-characters-long"
JWT_ACCESS_EXPIRATION="15m"
JWT_REFRESH_EXPIRATION="7d"
PORT=3000
FRONTEND_URL="http://localhost:3001"
